.inner{
  width:1200px;
  margin:0 auto;
  position:relative;
  height:100%;
}
.header{
  width:100%;
  height:79px;
  position:absolute;
  top:0;
  left:0;
  z-index:90;
}

.header:after{
  content:"";
  display:block;
  clear:both;
}

.logo{
  float:left;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  font-weight:bold;
  font-size:30px;
  margin-top:21px;
}

.gnb{
  float:right;
  margin-top:37px;
}

.gnb-1depth{
  float:left;
}

.gnb-1depth-item{
  float:left;
  margin-right:55px;
}

.gnb-1depth-link{
  color:#fff;
  font-size:0.875rem;
  text-decoration:none;
}

.gnb-util{
  float:left;
}

.gnb-util-item{
  float:left;
  margin-right:42px;
}

.gnb-util-item:last-child{
  margin-right:0;
}

.gnb-util-link{
  display:block;
  width:18px;
  background:url(../images/icon_sprite_gnb_util.png) no-repeat;
  text-indent:-99999em;
}

.gnb-util-link.cart{
  height:15px;
  background-position:0 0;
}

.gnb-util-link.search{
  height:18px;
  background-position:-60px 0;
}

.content-01{
  height:1000px;
  background:url(../images/content_01_bg.png) no-repeat center top;
  padding-top:212px;
  position:relative;
  z-index:80;
}

.content-01 .slogan-01{
  font-family: 'Kaushan Script', cursive;
  font-size:72px;
  color:#fff; /* #ff33aa => #f3a */
  text-align:center;
}

.content-01 .slogan-02{
  font-family: 'Montserrat', sans-serif;
  font-size:150px;
  line-height:140px;
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  margin-top:27px;
  position:relative;
}

.content-01 .slogan-02:after{
  content:"";
  display:block;
  width:60px;
  height:3px;
  background:#fff;
  position:absolute;
  left:50%;
  bottom:-59px;
  margin-left:-30px;
}

.content-01 .learn-more{
  display:block;
  width:160px;
  height:40px;
  border:3px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
  color:#fff;
  text-decoration:none;
  text-align:center;
  line-height:36px;
  position:absolute;
  left:50%;
  bottom:230px;
  margin-left:-80px;
}

.content-01 .slogan-list{
  position:absolute;
  bottom:28px;
}

.content-01 .slogan-list:after{
  content:"";
  display:block;
  clear:both;
}

.content-01 .slogan-list li{
  position:relative;
  float:left;
  width:279px;
  height:45px;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  text-transform: uppercase;
  margin-right:28px;
}

.content-01 .slogan-list li:last-child{
  /* ex) first-child */
  margin-right:0;
}

.content-01 .slogan-list li:before{
  content:"";
  display:block;
  width:100%;
  height:3px;
  background:#fff;
  margin-bottom:19px;
  opacity:0.5;
}

.content-01 .slogan-list li.on:before{
  opacity:1;
}

.content-01 .slogan-list li.on:after{
  content:"";
  display:block;
  width:70px;
  height:3px;
  background:#f38181;
  position:absolute;
  top:0;
  left:0;
}

.content-01 .slogan-list li span{
  font-size:24px;
  font-weight:bold;
}

.section-heading{
  text-align:center;
  margin-top:91px;
}

.section-heading-main{
  display:block;
  font-family: 'Kaushan Script', cursive;
  font-size:24px;
  color:#333;
}

.section-heading-sub{
  display:block;
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  font-weight:bold;
  color:#333;
  margin-top:10px;
  text-transform:uppercase;
  margin-bottom:22px;
}

.section-heading:after{
  content:"";
  display:inline-block;
  width:60px;
  height:3px;
  background:#f38181;
}

.section-heading-paragraph{
  margin-top:41px;
}

.section-content{
  margin-top:85px;
}

.content-02 .image-item{
  width:380px;
  height:250px;
  float:left;
  margin-right:30px;
}

.content-02 .image-item:last-child{
  margin-right:0;
}

.content-02 .image-item .image-item-spec{
  position:relative;
  top:-10px;
  left:-10px;
}

.content-02{
  padding-bottom:110px;
}

.content-03{
  background:#95e1d3;
}

.content-03 .count-item{
  width:20%;
  float:left;
  color:#fff;
  padding:87px 0 89px;
  border-left:1px solid rgba(255,255,255,0.3);
  text-align:center;
}

.content-03 .count-item:last-child{
  border-right:1px solid rgba(255,255,255,0.3);
}

.content-03 .count-item-number{
  font-family: 'Montserrat', sans-serif;
  font-size:72px;
  font-weight:bold;
}

.content-03 .count-item-text{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  text-transform: uppercase;
}

.content-04 .work-list-title{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  text-transform:uppercase;
}

.content-04 .work-list-data{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  line-height:24px;
  margin-top: 10px;
}

.work-list{
  width:330px;
  position:relative;
  padding-left:60px;
  float:left;
  margin-right:75px;
}
.work-list:before{
  content:"";
  display:block;
  width:32px;
  height:32px;
  background:url(../images/icon_sprite_01.png) no-repeat;
  position:absolute;
  top:0;
  left:0;
}

.work-list:nth-child(1):before{
  background-position:0px 0px;
}

.work-list:nth-child(2):before{
  background-position:-42px 0px;
}

.work-list:nth-child(3):before{
  background-position:-84px 0px;
}

.work-list:nth-child(4):before{
  background-position:0px -42px;
}

.work-list:nth-child(5):before{
  background-position:-41px -42px;
}

.work-list:nth-child(6):before{1
  background-position:-84px -42px;
}

.content-04 .section-content{
  padding:0 30px;
}

.work-list:nth-child(3), .work-list:nth-child(6){
  margin-right:0;
}

.work-list:nth-child(1),
.work-list:nth-child(2),
.work-list:nth-child(3){
  margin-bottom:94px;
}

.content-04{
  padding-bottom:120px;
}

.content-04 .section-content{
  position:relative;
}

.content-04 .section-content:before{
  content:"";
  display:block;
  width:100%;
  height:1px;
  background:#e5e5e5;
  position:absolute;
  top:123px;
  left:0;
}

.content-05:before{
  content:"";
  display:block;
  width:477px;
  height:582px;
  background:url(../images/content_05_item_01.png) no-repeat;
  position:absolute;
  bottom:0px;
  left:50%;
  margin-left:-239px;
}

.content-05:after{
  content:"";
  display:block;
  width:275px;
  height:476px;
  background:url(../images/content_05_item_02.png) no-repeat;
  position:absolute;
  bottom:-90px;
  left:50%;
  margin-left:123px;
}

.content-05{
  height:850px;
  background:url(../images/content_05_bg.png) no-repeat center;
  position:relative;
  padding-top:14px;
}

.content-01, .content-02, .content-03, .content-04, .content-05,
.content-06, .content-07, .content-08, .content-09, .content-10,
.content-11, .content-12, .content-13, .content-14, .content-15{
  min-width:1200px;
}

.section-heading-paragraph{
  text-align:center;
}

.content-06{
  padding-bottom:115px;
}

.content-06 .service-image{
  float:left;
}

.content-06 .service-list{
  width:600px;
  float:right;
}

.content-06 .service-list-item{
  margin-bottom:10px;
}

.content-06 .service-list-item:last-child{
  margin-bottom:0;
}

.content-06 .service-list-item dt{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  color:#333;
  text-transform: uppercase;
  font-weight:600;
  /*padding:14px 19px 14px 15px;*/
  border:1px solid #e5e5e5;
  height:60px;
  line-height:58px;
  position:relative;
}

.content-06 .service-list-item dt:before{
  content:"";
  display:inline-block;
  background:url(../images/icon_sprite_02.png) no-repeat;
  vertical-align:middle;
}
.content-06 .service-list-item:nth-child(1) dt:before{
  width:30px;
  height:30px;
  margin-left:15px;
  margin-right:15px;
  background-position:-1px 0;
}
.content-06 .service-list-item:nth-child(2) dt:before{
  width:28px;
  height:32px;
  margin-left:15px;
  margin-right:16px;
  background-position:-1px -40px;
}
.content-06 .service-list-item:nth-child(3) dt:before{
  width:32px;
  height:32px;
  margin-left:14px;
  margin-right:13px;
  background-position:0 -82px;
}

.content-06 .service-list-item dt:after{
  content:"";
  display:block;
  width:22px;
  height:12px;
  background:url(../images/icon_sprite_arrow.png) no-repeat 0 -22px;
  position:absolute;
  top:50%;
  right:19px;
  margin-top:-6px;
}

.content-06 .service-list-item.on dt:after{
  background-position:0 0;
}

.content-06 .service-list-item dd{
  display:none;
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  line-height:24px;
  font-weight:300;
  font-style:italic;
  color:#999;
  padding:17px 20px 18px;
  border:1px solid #e5e5e5;
  border-top:none;
}

.content-06 .service-list-item.on dd{
  display:block;
}

.content-07 .icon-paragraph-01 p{
  font-family: 'Roboto', sans-serif;
  font-size:24px;
  line-height:36px;
  font-style:italic;
  font-weight:300;
}

.content-07 .icon-paragraph-name{
  font-family: 'Kaushan Script', cursive;
  font-size:24px;
  color:#333;
  margin-top:12px;
}

.content-07 .icon-paragraph-name:before{
  content:"";
  display:inline-block;
  width:60px;
  height:3px;
  background:#f38181;
  position:relative;
  top:-5px;
  margin-right:10px;
}

.content-07{
  height:290px;
  background:#f8f8f8;
  padding-top:70px;
}

.icon-paragraph-01:before{
  content:"";
  display:inline-block;
  width:150px;
  height:150px;
  background:url(../images/content_07_item_01.png) no-repeat;
  position:absolute;
  top:0;
  left:0;
}

.icon-paragraph-01{
  padding-left:200px;
  position:relative;
  margin-left:110px;
}

.content-08 .image-item{
  float:left;
  margin-right:25px;
}

.content-08 .image-item:last-child{
  margin-right:0;
}

.content-08 .image-item:first-child{
  position:relative;
  top:-10px;
}

.content-08 .image-item-info .info-name{
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  color:#333;
}

.content-08 .image-item-info{
  margin-top:23px;
  text-align:center;
}

.content-08 .image-item-info .info-major{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  font-style:italic;
  line-height:24px;
  font-weight:300;
}

.content-08{
  padding-bottom:110px;
}

.content-09{
  height:250px;
  background:#f8f8f8;
  padding-top:62px;
}

.content-09 .item-logo-wrap{

}

.content-09 .item-logo{
  display:block;
  float:left;
  margin-right:106px;
  position:relative;
}

.content-09 .item-logo:nth-child(1){
  top:8px;
}

.content-09 .item-logo:nth-child(2){
  top:16px;
}

.content-09 .item-logo:nth-child(4){
  top:17px;
}

.content-09 .item-logo:nth-child(5){
  top:4px;
}

.content-09 .item-logo:last-child{
  margin-right:0;
}

.content-10 .gallery:after{
  content:"";
  display:block;
  clear:both;
}

.content-10 .gallery-wrap{
  width:50%;
  float:left;
}

.content-10 .gallery-image{
  display:block;
  float:left;
  width:50%;
}


















/**/
