.inner{
  width:1200px;
  margin:0 auto;
  position:relative;
  height:100%;
}
.header{
  width:100%;
  height:79px;
  position:absolute;
  top:0;
  left:0;
  z-index:90;
}

.header:after{
  content:"";
  display:block;
  clear:both;
}

.logo{
  float:left;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  font-weight:bold;
  font-size:30px;
  margin-top:21px;
}

.gnb{
  float:right;
  margin-top:37px;
}

.gnb-1depth{
  float:left;
}

.gnb-1depth-item{
  float:left;
  margin-right:55px;
}

.gnb-1depth-link{
  color:#fff;
  font-size:0.875rem;
  text-decoration:none;
}

.gnb-util{
  float:left;
}

.gnb-util-item{
  float:left;
  margin-right:42px;
}

.gnb-util-item:last-child{
  margin-right:0;
}

.gnb-util-link{
  display:block;
  width:18px;
  background:url(../images/icon_sprite_gnb_util.png) no-repeat;
  text-indent:-99999em;
}

.gnb-util-link.cart{
  height:15px;
  background-position:0 0;
}

.gnb-util-link.search{
  height:18px;
  background-position:-60px 0;
}

.content-01{
  height:1000px;
  background:url(../images/content_01_bg.png) no-repeat center top;
  padding-top:212px;
  position:relative;
  z-index:80;
}

.content-01 .slogan-01{
  font-family: 'Kaushan Script', cursive;
  font-size:72px;
  color:#fff; /* #ff33aa => #f3a */
  text-align:center;
}

.content-01 .slogan-02{
  font-family: 'Montserrat', sans-serif;
  font-size:150px;
  line-height:140px;
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  margin-top:27px;
  position:relative;
}

.content-01 .slogan-02:after{
  content:"";
  display:block;
  width:60px;
  height:3px;
  background:#fff;
  position:absolute;
  left:50%;
  bottom:-59px;
  margin-left:-30px;
}

.content-01 .learn-more{
  display:block;
  width:160px;
  height:40px;
  border:3px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
  color:#fff;
  text-decoration:none;
  text-align:center;
  line-height:36px;
  position:absolute;
  left:50%;
  bottom:230px;
  margin-left:-80px;
}

.content-01 .slogan-list{
  position:absolute;
  bottom:28px;
}

.content-01 .slogan-list:after{
  content:"";
  display:block;
  clear:both;
}

.content-01 .slogan-list li{
  position:relative;
  float:left;
  width:279px;
  height:45px;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  text-transform: uppercase;
  margin-right:28px;
}

.content-01 .slogan-list li:last-child{
  /* ex) first-child */
  margin-right:0;
}

.content-01 .slogan-list li:before{
  content:"";
  display:block;
  width:100%;
  height:3px;
  background:#fff;
  margin-bottom:19px;
  opacity:0.5;
}

.content-01 .slogan-list li.on:before{
  opacity:1;
}

.content-01 .slogan-list li.on:after{
  content:"";
  display:block;
  width:70px;
  height:3px;
  background:#f38181;
  position:absolute;
  top:0;
  left:0;
}

.content-01 .slogan-list li span{
  font-size:24px;
  font-weight:bold;
}

.section-heading{
  text-align:center;
  margin-top:91px;
}

.section-heading-main{
  display:block;
  font-family: 'Kaushan Script', cursive;
  font-size:24px;
  color:#333;
}

.section-heading-sub{
  display:block;
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  font-weight:bold;
  color:#333;
  margin-top:10px;
  text-transform:uppercase;
  margin-bottom:22px;
}

.section-heading:after{
  content:"";
  display:inline-block;
  width:60px;
  height:3px;
  background:#f38181;
}

.section-heading-paragraph{
  margin-top:41px;
}

.section-content{
  margin-top:85px;
}

.content-02 .image-item{
  width:380px;
  height:250px;
  float:left;
  margin-right:30px;
}

.content-02 .image-item:last-child{
  margin-right:0;
}

.content-02 .image-item .image-item-spec{
  position:relative;
  top:-10px;
  left:-10px;
}

.content-02{
  padding-bottom:110px;
}

.content-03{
  background:#95e1d3;
}

.content-03 .count-item{
  width:20%;
  float:left;
  color:#fff;
  padding:87px 0 89px;
  border-left:1px solid rgba(255,255,255,0.3);
  text-align:center;
}

.content-03 .count-item:last-child{
  border-right:1px solid rgba(255,255,255,0.3);
}

.content-03 .count-item-number{
  font-family: 'Montserrat', sans-serif;
  font-size:72px;
  font-weight:bold;
}

.content-03 .count-item-text{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  text-transform: uppercase;
}

.content-04 .work-list-title{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  text-transform:uppercase;
}

.content-04 .work-list-data{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  line-height:24px;
  margin-top: 10px;
}

.work-list{
  width:330px;
  position:relative;
  padding-left:60px;
  float:left;
  margin-right:75px;
}
.work-list:before{
  content:"";
  display:block;
  width:32px;
  height:32px;
  background:url(../images/icon_sprite_01.png) no-repeat;
  position:absolute;
  top:0;
  left:0;
}

.work-list:nth-child(1):before{
  background-position:0px 0px;
}

.work-list:nth-child(2):before{
  background-position:-42px 0px;
}

.work-list:nth-child(3):before{
  background-position:-84px 0px;
}

.work-list:nth-child(4):before{
  background-position:0px -42px;
}

.work-list:nth-child(5):before{
  background-position:-41px -42px;
}

.work-list:nth-child(6):before{1
  background-position:-84px -42px;
}

.content-04 .section-content{
  padding:0 30px;
}

.work-list:nth-child(3), .work-list:nth-child(6){
  margin-right:0;
}
